Incorrect auth scheme for oauthbearertoken

When `oauthbearertoken` authentication scheme is configured on ServiceProvider and Authorization header is not provided, SCIM-SDK returns HTTP authentication challenge `WWW-Authenticate: oauthbearertoken realm="SCIM"`. That seems incorrect.

According to [RFC 6750 Section 3](https://www.rfc-editor.org/rfc/rfc6750.html#section-3), the challenge must be `Bearer`:

> ... the resource server MUST include the HTTP "WWW-Authenticate" response header field ...
> All challenges defined by this specification MUST use the auth-scheme value **"Bearer"**

A similar issue is there for other schemes:

| scim auth type | http auth challenge | notes |
-----------------|---------------------|-------|
| oauth | OAuth | |
| oauth2 | ??? | don't know enough about oauth2, it does not seem straightforward |
| oauthbearertoken | Bearer |
| httpbasic | Basic |
| httpdigest | Digest | also has a mandatory nonce parameter |

Generally, it seems that a custom AuthenticationScheme implementation is needed for proper support of some schemas.

I believe, that adding a new `challenge` parameter to the AuthenticationScheme would solve the problem. I would skip WWW-Authenticate header value generation, when the `challenge` is not set to avoid broken value generation (e.g. for digest).

You are right I did not read the specific section thoroughly. But a short look at it describes how it must be correctly handled eventhough I think that the definition is not well thought-out.
the authenticationSchemes.type is defined as follows:

> The authentication scheme.  This specification defines the
   values "oauth", "oauth2", "oauthbearertoken", "httpbasic", and
   "httpdigest".  REQUIRED.

There is no valid reason to restrict the authentication to these schemes since it excludes other valid authentication schemes like SAML or Kerberos. I think defining the common name of the authentication type should be enough.

I will fix it by setting the authenticationSchemes.name into the header instead of authenticationSchemes.type. 

The field authenticationSchemes.name is defined as follows:

> The common authentication scheme name, e.g., HTTP Basic.
         REQUIRED.

But I actually do not see any relevance in the field authenticationSchemes.type. I am thinking of breaking the spec here by making this field optional.

> But I actually do not see any relevance in the field authenticationSchemes.type. I am thinking of breaking the spec here by making this field optional.

Isn't that used by compliant clients to detect how they should/could authenticate with the service? For example it seems the Bearer scheme might be used without oauth and just use an hardcoded token (oauthbearertoken) or with oauth2 flow (oauth2). Unfortunately, I  haven't seen anywhere what the SCIM pre-defined schemes should actually mean - e.g. oauth2 vs oauthbearertoken.

Yes I think that was probably the intention but I cannot see any reliable way to let the client dynamically react on these values. The authentication credentials must be configured for each client application and so these values provide nothing more than a hint to show the supported authentication types. But this is rather handled by the WWW-Authenticate header than the  authenticationSchemes.type field, Wouldn't you agree?

> But this is rather handled by the WWW-Authenticate header than the authenticationSchemes.type field

Yes, I agree.

okay I am going to close this then.