User attribute userName is declared imutable in the schema

I have noticed that the schema for User resource declares the userName attribute as immutable. Is that intentional?

Would you consider changing it to readWrite?

1. The [RFC 7643 Section 8.7.1](https://tools.ietf.org/html/rfc7643#section-8.7.1) declares the attribute as readWrite.
2. At least Azure AD SCIM client needs the attribute to be readWrite, because Azure allows you to can change the userName.

I know I can have a custom schema easily, but it might be better to have the default schema compliant with the RFC.

This was actually intentional but due to some misguided reasons. I don't mind changing this.