Validation for non-supported attributes

When client is sending an attribute, which is not defined in the schema, POST and PUT operations skip this attrubite during resource create or update, but PATCH operation throws an error 
```
{
	"detail": "the attribute with the name 'attr1' is unknown to resource type 'User'",
	"schemas": [
		"urn:ietf:params:scim:api:messages:2.0:Error"
	],
	"status": 400,
	"scimType": "invalidPath"
}
``` 
Would it be possible to make the behaviour more consistent and preferrable configurable?
Like all operations should throw an error if attribute is missing in the schema or all operations should ignore it.

This behaviour is only directly defined for the patch-operation. Eventhough I just see that the scimType of the errorResponse is wrong. It should be the value `invalidPath` as defined in [RFC7644 section 3.12](https://datatracker.ietf.org/doc/html/rfc7644#section-3.12). And I would say that it makes sense if the path within a patch request is not resolvable.

But why making it fail on POST and PUT?
My original purpose was to prevent processing attributes that are not defined in the schema. Why do you think that letting the request fail is a better option? 

For example Azure administrator created a mapping for the SCIM application and added an unsupported attribute, which is missing in the schema. When initial provisioning is executed, everything will be ok, users will be provisioned without an error. Later, if data for this unsupported attribute is changed, Azure will execute PATCH operation, which will produce an error. So, for the same mapping behaviour is different.

I see,
the easiest solution would be to add a configuration that will prevent the exception on the patch endpoint. In my personal opinion this is also the better solution. If several operations in a single patch-request will update the resource and a single operation has an invalid attribute, it would be a better to ignore the attribute instead of letting all operations fail. 
What do you think?

Yes, this would make behavior more consistent.
As I understand, adding validation for POST and PUT requests is a more complex task, correct? It would be good to have it as well, but if you don't have time right now, you can probably think of it in some future releases.

Thank you

This will take some time because I am working with priority on another project.
But I wouldn't oppose a pull-request if you could spare some time on it :-)

My idea would look like this:
-> add a new configuration attribute to the ServiceProviderConfig.
-> in the patch implementation simply jump to the next execution instead of throwing the exception if the configuration is activated. There is no need to remove the attribute manually because the schema-validation will remove it after the patch-operation is applied to the resource.
-> add unit tests that prove the correct behaviour of the change. Positive case is enough. Negative case does have already some tests

If you also do not have enough time. It will have to wait until I am finished with my current work. :-)

Fixed.
I will not add a failure behaviour for POST and PUT if unknown attributes are present. I do not see any good reason to do it.