Member class may have an unneeded subattribute

This might be me misreading 7643, but.... 

In 7643 section 2.4 we see this: 

> Multi-valued attributes contain a list of elements using the JSON
>    array format defined in Section 5 of [RFC7159].  Elements can be
>    either of the following:
>  o  primitive values, or
>  o  objects with a set of sub-attributes and values, using the JSON
>       object format defined in Section 4 of [RFC7159], in which case
>       they SHALL be considered to be complex attributes.  As with
>       complex attributes, the order of sub-attributes is not
>       significant.  The predefined sub-attributes listed in this section
>       can be used with multi-valued attribute objects, but these
>       sub-attributes MUST be used with the meanings defined here.
> 
>    If not otherwise defined, the default set of sub-attributes for a
>    multi-valued attribute is as follows:

I'm focused on that last line "If not otherwise defined". However, 7643's `urn:ietf:params:scim:schemas:core:2.0:Group` does define the set of sub-attributes for the `members`, and it does not include `primary`. So it seems like the Java class `Member` should possibly not have a `primary` attribute? 

Noticed this while trying to use the builder for member and got confused about what was meant by primary group, that led me to looking up the schema and noticing this was (possibly) a bit off



Yeah the subattribute in the member-class is indeed dispensable but since it does not do any harm and since I do not know if anyone might use it for special custom use-cases I think it is not a good idea to remove it.