$ref for entitlements

I am able to assign a "$ref" attribute to a standard scim entitlement complex type via EntitlementBuilder.  The code does something like Entitlement.builder().primary(false).value("xxxx").type("dataset").ref("https://example.com/scim/v2/customent/xxxyyyzzz").build()

All is good and I can see the "$ref" attribute of this entitlement in the User resource that contains it until the point we formulate a
 ScimResponse to send back to the client. At this point the schema validator removes the $ref attribute. 

Is this the intended behavior? RFC 7643 is a bit confusing. On the one hand, the complex type "entitlements"  doesn't explicitly include a "$ref" sub-attribute. On the other hand, there is an indication that multi-valued complex attributes could have a set of pre-defined sub-attributes which includes $ref (section 2.4 of RFC 7643). 

Thanks in advance for your guidance.



The problem here is that the $ref attribute is actually not defined in the schema

```json
{
      "name": "entitlements",
      "type": "complex",
      "description": "A list of entitlements for the User that represent a thing the User has.",
      "mutability": "readWrite",
      "returned": "default",
      "uniqueness": "none",
      "multiValued": true,
      "required": false,
      "caseExact": false,
      "subAttributes": [
        {
          "name": "value",
          "type": "string",
          "description": "The value of an entitlement.",
          "mutability": "readWrite",
          "returned": "default",
          "uniqueness": "none",
          "multiValued": false,
          "required": false,
          "caseExact": false
        },
        {
          "name": "display",
          "type": "reference",
          "description": "A human-readable name, primarily used for display purposes.  READ-ONLY.",
          "mutability": "readWrite",
          "returned": "default",
          "uniqueness": "none",
          "multiValued": false,
          "required": false,
          "caseExact": false,
          "referenceTypes": [
            "external"
          ]
        },
        {
          "name": "type",
          "type": "string",
          "description": "A label indicating the attribute's function.",
          "mutability": "readWrite",
          "returned": "default",
          "uniqueness": "none",
          "multiValued": false,
          "required": false,
          "caseExact": false
        },
        {
          "name": "primary",
          "type": "boolean",
          "description": "A Boolean value indicating the 'primary' or preferred attribute value for this attribute.  The primary\nattribute value 'true' MUST appear no more than once.",
          "mutability": "readWrite",
          "returned": "default",
          "uniqueness": "none",
          "multiValued": false,
          "required": false,
          "caseExact": false
        }
      ]
    }
```

I atually copied the schema from RFC7643 and the $ref attribute is not present. You could change the behaviour yourself by adding the attribute to the schema and then reregister the endpoint with the customized schema definition.

yes; precisely. That's what I thought. Thanks for your reply.